/* ----Common Styles ----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif, "FontAwesome";
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Top Banner Section */
.banner {
  display: flex;
  align-items: center;
  background-color: #2d25a0;
}

.banner-text {
  color: #ffffff;
  font-size: 64px;
  padding: 207px 102px 170px 156px;
}
.link-button {
  background-color: #e02c6d;
  width: 168px;
  height: 44px;
  padding: 10px 24px;
  color: white;
  border: none;
}
.link-button:hover {
  background-color: white;
  color: black;
}
.link-button a {
  text-decoration: none;
  color: inherit;
}
.banner-img {
  padding-top: 135px;
  padding-right: 140px;
  padding-bottom: 86px;
  padding-left: 102px;
}

/* Player Cards Section  */
.players {
  margin-bottom: 50px;
}
.players-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 31px;
  grid-row-gap: 27px;
  padding-top: 70px;
}

.player-box {
  display: flex;
  width: 330px;
  height: 460px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  margin: 15px;
}
.player-img img {
  width: 300px;
  height: 256px;
}

.player-details {
  margin-right: 15px;
  margin-left: 15px;
}
.player-details p {
  color: #6c6c6c;
  margin: 0;
}
.player-details h3 {
  font-size: 28px;
  margin-top: 12px;
  margin-bottom: 10px;
}

/* News-Section */
.news-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.news-heading {
  padding: 10px;
  font-size: 40px;
  text-align: center;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-column-gap: 70px;
  margin-bottom: 35px;
}
.news-container a {
  text-decoration: none;
  color: inherit;
}
.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
.news-detail h3 {
  margin: 3px;
  text-align: center;
}
.news img {
  width: 300px;
}

/* Footer Section  */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}
.footer-img img {
  width: 483px;
  height: 110px;
  margin-bottom: 20px;
}
i {
  font-size: 32px;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.social-links a {
  text-decoration: none;
  color: inherit;
}
.social-links a:hover {
  text-decoration: none;
  color: inherit;
  color: crimson;
}

/* Media Queries */
@media only screen and (max-width: 688px) {
  html {
    font-size: 45%;
  }
  .players-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
